# The last matching pattern has the most precedence.
*                         @gvenzl
/OracleDatabase/          @gvenzl
/OracleLinux/             @scoter-oracle
/RACPack/                 @ruggero_citton
/RACPack/OracleDB/        @ruggero_citton
/RACPack/OracleDG/        @ruggero_citton
/RACPack/OracleFPP/       @ruggero_citton
/RACPack/OracleRAC/       @ruggero_citton
/RACPack/OracleZDMlight/  @ruggero_citton
