# The last matching pattern has the most precedence.
*                         @gvenzl
/OracleDatabase/          @gvenzl
/OracleLinux/             @scoter-oracle
/OralceDG/                @rcitton
/OralceRAC/               @rcitton
