# The last matching pattern has the most precedence.
*                         @scoter-oracle
/ContainerTools/          @AmedeeBulle
/OCNE/                    @scoter-oracle
/OracleDatabase/          @gvenzl
/OracleLinux/             @scoter-oracle
/OracleDG/                @rcitton
/OracleRAC/               @rcitton
/OracleFPP/               @rcitton
/OracleGDD/               @rcitton
