oracle.install.responseFileVersion=/oracle/install/rspfmt_ogginstall_response_schema_v12_1_2
INSTALL_OPTION=ORA12c
SOFTWARE_LOCATION=/u01/ogg
START_MANAGER=true
MANAGER_PORT=7809
DATABASE_LOCATION=###ORACLE_HOME###
INVENTORY_LOCATION=###ORACLE_BASE###/oraInventory/
UNIX_GROUP_NAME=oracle