[Unit]
Description=Confluent
Requires=network.target

[Service]
Type=forking
Restart=on-failure
Environment="LOG_DIR=/var/log/kafka"
ExecStart=/usr/bin/confluent start
ExecStop=/usr/bin/confluent stop
User=oracle

[Install]
WantedBy=multi-user.target
