[GENERAL]
RESPONSEFILE_VERSION = "12.1.0"
OPERATION_TYPE = "createDatabase"

[CREATEDATABASE]
GDBNAME = ###ORACLE_SID###
DATABASECONFTYPE  = "SI"
SID = ###ORACLE_SID###
CREATEASCONTAINERDATABASE = true
NUMBEROFPDBS = 1
PDBNAME = ###ORACLE_PDB###
PDBADMINPASSWORD = ###ORACLE_PWD###
TEMPLATENAME = "General_Purpose.dbc"
SYSPASSWORD = ###ORACLE_PWD###
SYSTEMPASSWORD = ###ORACLE_PWD###
EMCONFIGURATION = "DBEXPRESS"
EMEXPRESSPORT = "5500"
DBSNMPPASSWORD = ###ORACLE_PWD###
STORAGETYPE=FS
CHARACTERSET = ###ORACLE_CHARACTERSET###
NATIONALCHARACTERSET= "AL16UTF16"
AUTOMATICMEMORYMANAGEMENT = "FALSE"
TOTALMEMORY = "1536"

# Some init.ora parameters - disable auditing to save space, enable FS optimizations
INITPARAMS =audit_trail=none,audit_sys_operations=false,filesystemio_options=setall,commit_logging=batch,commit_wait=nowait

