oracle.install.responseFileVersion=/oracle/install/rspfmt_dbinstall_response_schema_v19.1.0
INSTALL_OPTION=ORA19c
SOFTWARE_LOCATION=/u01/ogg
START_MANAGER=true
MANAGER_PORT=7809
DATABASE_LOCATION=###ORACLE_HOME###
INVENTORY_LOCATION=###ORACLE_BASE###/oraInventory/
UNIX_GROUP_NAME=oinstall
