[Unit]
Description=Apache Zookeeper server
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
ExecStart=/usr/local/kafka/kafka_###KAFKA_VERSION###/bin/zookeeper-server-start.sh /usr/local/kafka/kafka_###KAFKA_VERSION###/config/zookeeper.properties
ExecStop=/usr/local/kafka/kafka_###KAFKA_VERSION###/bin/zookeeper-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target